<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="/assets/libraries/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="/assets/libraries/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/trackpad-scroll-emulator.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/jquery.raty.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/nouislider.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/explorer.css" rel="stylesheet" type="text/css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7875161235403738",
            enable_page_level_ads: true
        });
    </script>
    <title>IntelliJ - Servers</title>
  </head>
  <body class="">
    <div class="page-wrapper">
      <div class="header-wrapper">
        <div class="header">
          <div class="container">
            <div class="header-inner">
              <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.header-toggle -->
              <div class="header-logo">
                <a href="index.html">
                  <img src="/assets/img/logo.svg" class="svg" alt="Home">
                </a>
                <a href="index.html" class="header-title">IntelliJ Explorer</a>
              </div>
            </div>
            <!-- /.header-inner -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header -->
      </div>
      <!-- /.header-wrapper -->
      <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div class="page-title">
              <div class="container">
                <h1>Avaliable License Servers :
                </h1>

              </div>
              <!-- /.container-->
            </div>
            <!-- /.page-title -->
            <div class="container">

              <div class="table-wrapper">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="min-width center">ID</th>
                      <th class="min-width center">Server</th>
                      <th class="min-width center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="server,serverStat: ${list}">

                      <td class="min-width center id" th:text="'#' + ${serverStat.index + 1}">#24</td>

                      <td class="min-width center">
                        <span th:text="${server.url}">Business</span>
                      </td>

                      <td class="min-width center">
                        <div class="status">
                          <i th:class="${server.status == '1'} ? 'fa fa fa-check' : 'fa-times'"></i>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.main-inner -->
        </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
      <div class="footer-wrapper">
        <div class="footer">
          <div class="footer-inner">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="widget">
                    <h3>
                      <img src="/assets/img/logo.svg" class="svg" alt="Home">
                      IntelliJ Servers
                      <span>Disclaimer</span>
                    </h3>
                    <p>
                      <ul>
                    <li>
                      All license servers displayed on this site come from the Internet.</li>
                    <li>

                    We do not provide any License server services.</li>
                    <li>

                      Do not use this for commercial purposes.</li>
                    <li>

                      If the content of our site is a loss to your interests, please contact us in time for deletion and handling.</li>
                    <li>

                      If you realy like JetBrains Products, you can contact the official website or agents for authorization.</li>
                    <li>

                      JetBrains official site www.jetbrains.com</li>
                    <li>

                      PLEASE SUPPORT GENUINE.</li>
                      </ul>
                    </p>

                  </div>
                </div>
                <!-- /.col-*-->
                <div class="col-lg-4">
                  <div class="widget">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- intelj -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7875161235403738"
                         data-ad-slot="8774854743"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                  </div>
                </div>
                <!-- /.col-*
                <div class="col-lg-4">
                  <div class="widget">
                    <h3>Best deals in your inbox</h3>
                    <p>
                      Join our newsletter for the most recent information. FYI this is not working form, just an example.
                    </p>
                    <form method="post">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your e-mail address">
                      </div>
                      <!-- /.form-group
                      <div class="form-group clearfix">
                        <button type="submit" class="btn btn-primary pull-right">Join Newsletter</button>
                      </div>
                      <!-- /.form-group
                    </form>
                  </div>
                  <!-- /.widget
                </div>
                <!-- /.col-*
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.footer-inner -->
        </div>
        <!-- /.footer -->
      </div>
      <!-- /.footer-wrapper -->
    </div>
    <!-- /.page-wrapper -->
    <div id="modal-submit" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submit New Listing</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="listings-my-.html" class="mb80">
              <fieldset>
                <legend>Basic Information</legend>
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" rows="6"></textarea>
                </div>
                <!-- /.form-group -->
              </fieldset>
              <fieldset>
                <legend>Payment Information</legend>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Package</label>
                      <select class="form-control">
                        <option value="">Bronze + $10</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Payment Method</label>
                      <select class="form-control">
                        <option value="">Paypal</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Duration</label>
                      <select class="form-control">
                        <option value="">1 Year (Save 10%)</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                </div>
                <!-- /.row -->
              </fieldset>
              <fieldset>
                <legend>Location</legend>
                <div class="row">
                  <div class="col-sm-6">
                    <div id="location-google-map" style="height: 450px;"></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control location-google-map-search">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Latitude</label>
                      <input type="text" class="form-control" id="listing_location_latitude">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Longitude</label>
                      <input type="text" class="form-control" id="listing_location_longitude">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Country</label>
                      <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Location</label>
                      <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Sublocation</label>
                      <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                </div>
                <!-- /.row -->
              </fieldset>
              <fieldset>
                <legend>Contact Information</legend>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Country</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>E-mail</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Website</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                </div>
              </fieldset>
              <fieldset>
                <legend>Amenities</legend>
                <div class="checkbox-list">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Air conditioning
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Balcony
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Bedding
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Cable TV
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Cleaning after exit
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Cofee pot
                    </label>
                  </div>
                  <!-- /.form-check -->
                </div>
                <!-- /.checkbox-list -->
              </fieldset>
              <fieldset>
                <legend>Additional Information</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Send me newsletter
                  </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> I agree with terms &amp; conditions
                  </label>
                </div>
                <!-- /.form-check -->
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side">
        <div class="side-inner">
          <div class="side-user">
            <span class="avatar" style="background-image: url('/assets/img/tmp/user-10.jpg');"></span>
            <span class="side-user-avatar-name">
              <strong>William F. Kane</strong>
              <span>System administrator</span>
            </span>
            <a href="#" class="side-user-avatar-action">
              <i class="fa fa-cog"></i>
            </a>
          </div>
          <!-- /.side-user -->
          <ul class="nav flex-column">
            <li class="nav-item"><a href="admin-dashboard.html" class="nav-link">Author Dashboard</a></li>
            <li class="nav-item"><a href="admin-listings.html" class="nav-link">Listings Queue</a></li>
            <li class="nav-item"><a href="admin-projects.html" class="nav-link">Running Projects</a></li>
            <li class="nav-item"><a href="admin-tasks.html" class="nav-link">Tasks Management</a></li>
            <li class="nav-item"><a href="admin-users.html" class="nav-link">User Accounts</a></li>
          </ul>
          <h3>Welcome Back</h3>
          <form class="form-dark" method="post" action="listings-my-.html">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <!-- /.form-group -->
            <button class="btn btn-primary pull-right" type="submit">Login</button>
          </form>
        </div>
        <!-- /.side-inner -->
      </div>
      <!-- /.side -->
    </div>
    <!-- /.side-wrapper -->
    <div class="side-overlay"></div>
    <!-- /.side-overlay -->
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/chartist.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.inlinesvg.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.affix.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/assets/libraries/slick/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/nouislider.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.raty.js"></script>
    <script type="text/javascript" src="/assets/js/wNumb.js"></script>
    <script type="text/javascript" src="/assets/js/particles.min.js"></script>
  </body>
</html>